body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.grid {
    transform: translateY(100px);
    column-count: 4;
    column-gap: 0.5em;
    padding-bottom: 1.25em;
    margin: 1.25em; /* first number applies to top/bottom second number applies to left/right */
}

.grid .grid-item {
    margin-bottom: 0.5em;
}

@media (max-width:1024px) {
    .grid {
        column-count: 3;
    }
}
@media (max-width:728px) {
    .grid {
        column-count: 2;
    }
}
@media (max-width:576px) {
    .grid {
        column-count: 1;
    }
}

.index-header {
    background-color: black;
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
}